html
  head
    title= "Playlists on "+ serverName
    include templates/head.pug
  body
    h1 #{"Playlists on "+ serverName}
    ul.grid-container
      each playlist in playlists
        a(href="/playlist/"+ playlist.ratingKey)
          li.grid-100.mobile-grid-100.playlist
            p #{playlist.title.substring(1)}
