html
  head
    title= "Playlists on "+ serverName
    style
      include styles.css
  body
    h1 #{"Playlists on "+ serverName}
    ul
      each playlist in playlists
        a(href="/playlist/"+ playlist.ratingKey)
          li.playlist
            p #{playlist.title.substring(1)}
