html
  head
    title= playlistName.substring(1) +" on "+ serverName
    style
      include styles.css
  body
    h1 #{playlistName.substring(1)}
    ul
      each item, index in items
        a(href="https://app.plex.tv/web/app#!/server/"+ serverId +"/details?key="+ encodeURIComponent(item.key))
          li.item  
            // img(src="https://"+ plexAddress + ":" + plexPort + item.thumb)
            p #{item.title}
