body { 
	background: #5e5e5e; 
	color: #eee; 

	counter-reset: items;
}

a, a:link, a:hover, a:visited, a:active { 
	text-decoration: none;
	color: #eee; 
}

h1 {
	margin: 0 auto;
}

ul {
	list-style: none;
}

li {
	display: inline-block;
	width: 150px;
	height: 100px;
	margin: 10px;
	position: relative;
	border: 2px solid #707070;
	background: #444444;
	padding: 5px;
}

li.item::before {
	counter-increment: items;
	content: counter(items);
	position: absolute;
	bottom: 5px;
	float: left;
}

li p {
	margin: 0 auto;
	display: block;
	width: 100%;
}
